<div>
  <h2>
    <%= @article.title %>
    <%= link_to "âœï¸", edit_article_path(@article)%>

    <%= link_to "ðŸ—‘", article_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </h2>
  <p><%= @article.content %></p>

  <hr>
  <%= link_to "Back", articles_path %>
</div>

